root {
    --basic-color: #;
    --active-color: #;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-s {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.brand-logo {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.nav-link-s {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
}

.nav-link-s a {
    text-decoration:none;
    color: var(--basic-color);
    font-weight: bold;
}

.nav-item-s {
    position:relative;
}

.active-nav {
    height: 3px;
    background-color: #383ae0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
}

.inActiveNav {
    background-color: #fff;
}


/* CI CODE */




.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

footer {
    background-color: #445261;
    opacity: .9;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* CARD */

.card {
    border: none;
    background-color: transparent;
    max-height: 300px;
}

.image-container {
    position: relative;
    max-height: 400px;
    background-size: cover;
}

.image-flash {
    position: absolute;
    top: 10%;
    left: -26px;
    overflow: hidden;
}

.img-round {
    border-radius: 50%;
}

.image-flash-author,
.image-flash-category { 
    background-color: #acbb23;
    border-radius: 4px;
  
    margin-top: 3px;
    padding: 0 5px;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.category {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.card-featured-comment {
    margin-top: 20px;
    color: gray;
}

.card-featured-comment-continue {
    color: rgb(29, 138, 38);
    font-weight: 900;
    text-transform: uppercase;
    text-align: end;
}









.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.recipe-link {
    text-decoration: none;
    color: #445261;
}

.recipe-link:hover,
.page-link {
    color: #E84610;
}

.recipe-title {
    margin-top: 20%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}




