@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Sen:wght@400;700;800&display=swap');

root {
    --background-col: #45575A;
    --light-gray-col: #9A99A2;
    --light-col: #E4E5EA;
    --accent-col: #3DC073;
    --basic-col: #198754;
    --main-font: 'Sen', sans-serif;
    --additional-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #45575A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.thin {
    font-weight: 300;
}

.thic {
    font-weight: 700;
}

.light-bg {
    background-color: #9A99A2;
}

.dark-bg {
    background-color: #45575A;
}

.main-bg {
    background-color: #fff;
}

.scrollable {
    scroll-behavior: smooth;
}

.border {
    border: solid 1px #45575A;
    border-radius: 8px;
}

.fa-heart {
    color: #198754;
}

/*--------------------------------------- 
-----------------------------------------
            NAVBAR 
-----------------------------------------
---------------------------------------*/
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.dropdown-toggle,
.nav-link a,
.nav-link-s a {
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    font-weight: bold;
    color: #198754;
}

.dropdown-menu {
    width: 200px;
}

.nav-s {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.navbar-brand img {
    margin-top: -10px;
}

.brand-logo {
    font-size: 2.3rem;
    font-weight: 700;
    color: #45575A;
    margin-left: 20px;
}

.nav-link-s {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    text-align: center;
    align-self: center;
}

.nav-link-drop {
    text-align: center;
    font-size: 80%;
}

.nav-item-s {
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

.active-nav {
    height: 3px;
    background-color: #198754;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
}

.inActiveNav {
    background-color: #fff;
}

/*--------------------------------------- 
-----------------------------------------
            INDEX 
-----------------------------------------
---------------------------------------*/
.top-slogan h4 {
    font-size: 120%;
    font-family: 'Sen', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.top-slogan h5 {
    font-family: 'Sen', sans-serif;
    font-weight: bold;
}

.top-slogan p {
    font-size: 80%;
    font-weight: 100;
}

/*---------------------------------------
             HERO 
---------------------------------------*/
.index-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 130vh;
    background: linear-gradient(to right, #fff, #8EC63F, #0E9A45, #198754);
}

.section-blank {
    height: 100vh;
}

.sections-index {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 60%;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.hero #food-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9a99a2bd;
    padding: 3%;
    border-radius: 8px;
    color: white;
    z-index: 0;
}

.headline-bttn-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.headline-bttn {
    min-width: 200px;
    height: 40px;
    background-color: #9a99a2bd;
    padding: 10px 0;
    color: white;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 5;
}

.headline h1 {
    font-size: 400%;
    z-index: 3;
}

.headline .brand-logo {
    margin-left: 290px;
}

.headline i {
    color: #198754;
}

/*---------------------------------------
             About Section
---------------------------------------*/
#hero-about-chef-img {
    height: 250px;
    border-radius: 50%;
}

.hero-about-chef-title {
    font-size: 130%;
    color: #45575A;
    margin-top: 20px;
}

.hero-about-chef-p {
    font-size: 100%;
    color: #45575A;
}

/*---------------------------------------
             Carousel Section
---------------------------------------*/
.container-carosel {
    position: relative;
}

.carousel-inner {
    max-height: 600px;
}

.carousel-inner img {
    background-size: cover;
    object-fit: cover;
    height: auto;
}

.carousel-image-flash {
    position: absolute;
    height: 50%;
    top: 1%;
    left: 20px;
    overflow: hidden;
}

.carousel-image-flash-author,
.carousel-image-flash-category {
    background-color: #0e9a46dd;
    border-radius: 4px;
    margin-top: 3px;
    padding: 0 5px;
    color: white;
    margin: 4px;
    text-transform: uppercase;
    text-align: end;
}

.carousel-image-comment {
    position: absolute;
    max-width: 80%;
    height: 50%;
    bottom: 20%;
    right: 20px;
    overflow: hidden;
}

.carousel-image-comment-title,
.carousel-image-comment-comment {
    background-color: #9a99a2d5;
    text-align: start;
    color: white;
    border-radius: 4px;
    margin-top: 3px;
    padding: 0 5px;
    margin: 4px;
}

.inner-text {
    position: absolute;
    align-items: center;
    text-align: center;
    top: 10px;
    left: 10px;
    display: flex;
}

/*---------------------------------------
            Category Page Top
 ---------------------------------------*/
.cat-card-img {
    height: 30vh;
    object-fit: cover;
    margin: 0 auto;
}

.cat-card-body {
    width: 100%;
    margin-top: -30px;
}

.cat-card-title {
    height: auto;
    font-family: 'Sen', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 120%;
    min-width: 100px;
    background-color: #0E9A45;
    margin: 0;
    padding: 1%;
}

.cat-card-body a {
    color: #fff;
    margin: 0;
    padding: 0;
}

/*---------------------------------------
            Category Page Bttm
 ---------------------------------------*/
.cat-card-img-bttm {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.cat-card-body-bttm {
    width: 100%;
}

.cat-card-title-bttm {
    height: auto;
    font-family: 'Sen', sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    min-width: 100px;
    background-color: #0e9a46e5;
    margin: 0;
    padding: 1%;
}

.cat-card-body-bttm a {
    color: #fff;
    margin: 0;
    padding: 0;
}

/*---------------------------------------
             Footer  
---------------------------------------*/
footer {
    opacity: .9;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
}

footer i {
    font-size: 150%;
    color: #45575A;
}

/*---------------------------------------
             CARD  
---------------------------------------*/
.card {
    border: none;
    background-color: transparent;
    margin: 0 auto;
    align-content: start;
}

.image-container {
    position: relative;
    background-size: cover;
}

img {
    overflow: hidden;
}

.image-flash {
    position: absolute;
    top: 10%;
    left: -26px;
    overflow: hidden;
}

.img-round {
    border-radius: 50%;
}

.image-flash-author,
.image-flash-category {
    background-color: #0E9A45;
    border-radius: 4px;
    margin-top: 3px;
    padding: 0 5px;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.category {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.card-blog-title {
    color: #45575A;
    font-size: 150%;
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
}

.card-featured-comment {
    margin-top: 20px;
    color: #45575A;
}

.card-blog-comment {
    font-size: 130%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.card-featured-comment-continue {
    color: #0E9A45;
    font-weight: 900;
    text-transform: uppercase;
    text-align: end;
}

/*---------------------------------------
            Recipe List 
---------------------------------------*/
.card-list-title {
    color: #45575A;
    font-size: 120%;
}

.card-img-recipe {
    max-height: 264px;
    object-fit: cover;
    align-self: center;
}

.card-body-recipe-list {
    min-height: 200px;
    text-align: end;
}

/*---------------------------------------
                 CI CODE 
---------------------------------------*/

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.recipe-link {
    color: #9A99A2;
}

.recipe-link:hover,
.page-link {
    color: #8EC63F;
}

.recipe-title {
    margin-top: 20%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: #9A99A2;
}

.btn-signup {
    background-color: #9A99A2;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #9A99A2;
}

.link {
    color: #9A99A2;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #8EC63F;
    text-decoration: none;
}

.btn-like {
    color: #8EC63F;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #8EC63F;
    background: transparent;
    border: none;
}

/*---------------------------------------
             MEDIA max-width: 760px
---------------------------------------*/
@media screen and (max-width: 760px) {
    .headline h1 {
        font-size: 200%;
    }

    .headline .brand-logo {
        font-size: 150%;
        margin-left: 100px;
    }

    .headline img {
        height: 60px;
    }

    .inner-text {
        position: unset;
        display: inline;
        margin-top: 450px;
    }

    .headline {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .headline-bttn {
        min-width: 200px;
        padding: 5% 0;
        font-size: 100%;
        margin: 5px 0;
    }

    /*---------------------------------------
                Footer  
    ---------------------------------------*/
    footer {
        opacity: .9;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 5;
    }

    footer {
        font-size: 50%;
    }

    footer i {
        font-size: 120%;
    }
}

/*---------------------------------------
             MEDIA (max-width: 360px
---------------------------------------*/

@media screen and (max-width: 460px) {
    .headline h1 {
        font-size: 140%;
    }

    .headline .brand-logo {
        font-size: 90%;
        margin-left: 50px;
    }

    .headline img {
        height: 40px;
    }

    .navbar-brand .brand-logo {
        font-size: 110%;
        margin-left: 10px;
        padding-left: 0;
    }

    .navbar-brand img {
        height: 50px;
    }

    .headline-bttn-container .btn {
        align-content: center;
    }

    input,
    button {
        height: 32px;
    }
}
