{% extends "base.html" %}
{% block title %}Edit User Profile{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <!-- The Profile image URL and Bio goes in the src attribute -->
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-10 offset-1 col-sm-4 offset-sm-0">
                        {% if "profile_img" in user.profile.profile_pic.url %}
                        <img src="{% static 'images/profile_img.png' %}" alt="profile image"
                            width="100" class="rounded-circle rounded-sm border-success">
                        {% else %}
                        <img src="{{ user.profile.profile_pic.url }}" alt="profile image"
                            width="100" class="rounded-circle shadow">
                        {% endif %}
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">                            
                            <h3 class="card-title">{{ user.first_name }} {{ user.last_name }}</h3>
                            {% if user.profile.bio %}
                            <p class="card-text">{{ user.profile.bio }}</p>
                            {% endif %}
                            {% if user.profile.website_url %}
                            <a class="card-text" href="{{ user.profile.website_url }}">
                                <small>
                                    <i class="fa-solid fa-globe"></i>
                                    {{ user.profile.website_url }}
                                </small></a><br>
                            {% endif %}
                            {% if user.profile.facebook_url %}
                            <a class="card-text" href="{{ user.profile.facebook_url }}">
                                <small>
                                    <i class="fa-brands fa-facebook"></i>
                                    {{ user.profile.facebook_url }}
                                </small></a><br>
                            {% endif %}
                            {% if user.profile.twitter_url %}
                            <a class="card-text" href="{{ user.profile.twitter_url }}">
                                <small>
                                    <i class="fa-brands fa-twitter"></i>
                                    {{ user.profile.twitter_url }}
                                </small></a><br>
                            {% endif %}
                            {% if user.profile.instagram_url %}
                            <a class="card-text" href="{{ user.profile.instagram_url }}">
                                <small>
                                    <i class="fa-brands fa-instagram"></i>
                                    {{ user.profile.instagram_url }}
                                </small></a><br>
                            {% endif %}
                            {% if user.profile.pintrest_url %}
                            <a class="card-text" href="{{ user.profile.pintrest_url }}">
                                <small>
                                    <i class="fa-brands fa-pinterest"></i>
                                    {{ user.profile.pintrest_url }}
                                </small></a><br>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="d-grid gap-2 col-12 col-md-8 offset-md-2">
                    <a href="{% url 'edit-profile-page' user.pk %}" class="btn btn-outline-success">Update Picture, Bio & Social Links</a>                      
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <form class="form-group">
                <br>
                <h3 class="card-title">{{ user }}'s Profile Settings</h3>
                <br>
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <div class="d-grid gap-2 col-12 col-md-8 offset-md-2">
                    <a class="btn btn-outline-success" href="../password/">Change Password</a>
                    <button class="btn btn-outline-success" type="submit">Update Profile Settings</button>
                    <a href="{% url 'show-profile' user.pk %}" class="btn btn-outline-success">Back to Your Profile</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% else %}
<center>
    <h1>You're not logged in!</h1>
</center>
{% endif %}

{% endblock %}