{% extends "base.html" %}

{% block title %}Edit User Profile{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-2">
            <h3>Edit {{ user }}'s Profile</h3>

            <p>here's were you can edit your Profile</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-2">
            <form class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button class="btn btn-outline-success right" type="submit">Update Profile</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}