{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-2">
            <h3>Log in</h3>

            <p>Welcome to the Shemmylicious Food blog. <br><br> To leave a comment, add or like a recipe, please log in.<br>If
                you have not created an account yet, then <a class="link" href="{% url 'register' %}">sign up</a>
                first.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-3">
            <form class="login" method="POST" action="{% url 'login-user' %}">
                {% csrf_token %}
                {{ form.as_p }}
 
                <br>
                <div class="d-grid col-6">
                    <button class="btn btn-outline-success" type="submit">Sign In</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}