{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Error: 404{% endblock %}

{% block content %}
<div class="container">
  <div class="row h-100">
    <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
      <div class="card border-0">
        <img src="https://res.cloudinary.com/dteyj4llb/image/upload/v1679649965/media/Shemmylicious/recipe.png" 
          class="card-img-top" alt="404 page image">
        <div class="card-body">
          <h1 class="card-title logo-text">Error 404: Oops, Page not found</h1>
          <h5 class="card-text">Looks like you got lost along the way.</h5>
          <h4>
            <a href="{% url 'start' %}" class="btn btn-lg col-12 btn-outline-success text-uppercase py-2">Home</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}