{% extends 'base.html' %} 
{% block content %}
    <center>
    <br>
    <br>
    <h1>Add Recipe</h1>
    <br>
    <div class="container col-6">
        {% if submitted %}
            Your Recipe was Submitted Succesfully!
        {% else %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}

                <input type="submit" value="Add Recipe" class="btn btn-outline-secondary">
            </form>
        {% endif %}  
    </div>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock content %}