{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>category list</h1>

    <!-- Categories Large Section -->
    <section section-categories>

        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-md-10 offset-md-1 border">
                    <div class="row">

                        {% for category in object_list %}
                            {% if forloop.counter <= 5 %}
                                <div class="col-6 col-md-2 border">

                                    <img src="{{ category.featured_image.url }}" alt="Category Image"> <br>
                                    <a href="{% url 'category' category %}"><h1>{{ category.category_name }}</h1></a> <br>

                                </div>
                            {% elif forloop.counter == 6 %}
                                <div class="w-100"></div>

                            {% elif forloop.counter >= 6 %}
                                <div class="col-1 border">
                                    Sec.{{ category }}
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>

    </section>

    {% endblock %}