{% extends 'base.html' %} 
{% block title %}Add Recipe{% endblock %}
{% load static %}

{% block content %}

    <div class="container">
        <br>
        <br>
        <h2>{{ user.username }}'s Area</h2>
        <br>
        <br>
        <center>
        <h1>Add Recipe</h1>
        <br>
        <div class="container col-6">
            {% if submitted %}
                Your Recipe was Submitted Succesfully!
            {% else %}
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    
                    {{ form.as_p }}

                    <input type="submit" value="Add Recipe" class="btn btn-outline-warning">
                    <a href="{% url 'recipes' %}" class="btn btn-outline-success">Home</a>
                </form>
                <br>
                
            {% endif %}  
        </div>
        </center>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock content %}