{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Blank section -->
<section class="section-blank">
  <div></div>
</section>
<!-- Hero section with JS Animations -->
<section class="sections-index"  id="section-hero">
  <div class="container hero">
    <img src="{% static '/images/welcome-hero2.jpg' %}" id="food-img" alt="Welcome hero picture">
    <div class="headline">
      <h1>Cooking Time Is <br> My Favorite Time <i class="far fa-heart"></i></h1>
      <a class="navbar-brand" href="{% url 'home' %}">
        <span class="brand-logo">Shemmylicious</span>
        <img src="https://res.cloudinary.com/dteyj4llb/image/upload/v1679654869/media/Shemmylicious/food_sjzw1x.png"
          alt="Shemmylicious Food Sign" height="90">
      </a>
    </div>
    <div class="headline-bttn-container">
      {% if user.is_authenticated %}
      <a href="{% url 'home' %}" class="btn btn-sm btn-outline-light headline-bttn">Browse Recipes <i
          class="fa-solid fa-bowl-rice fa-beat-fade"></i></a>
      <a href="{% url 'recipe-mylist' %}" class="btn btn-sm btn-outline-light headline-bttn">Your Recipes <i
          class="fa-solid fa-user fa-xs"></i></a>
      {% else %}
      <a href="{% url 'account_signup' %}" class="btn btn-sm btn-outline-light headline-bttn">Register <i
          class="fa-solid fa-user-plus fa-beat-fade fa-xs"></i></a>
      <a href="{% url 'account_login' %}" class="btn btn-sm btn-outline-light headline-bttn">Login <i
          class="fa-solid fa-arrow-right-to-bracket fa-beat-fade fa-xs"></i></a>
      {% endif %}
    </div>
  </div>

</section>
<!-- Slider used for JS Animations -->
<div class="index-slider"></div>
<!-- Carosel and about Author-->
<section class="sections-index" id="section-about">
  <div class="container container-carosel container-fluid">
    <div class="row">
      <!-- About Author -->
      <div class="inner-text col-12 col-md-4 offset-md-7">
        <div class="row">
          <div class="">
            <img src="{% static '/images/welcome-hero-author-head.jpg' %}" alt="round picture of a Chef"
              id="hero-about-chef-img">
            <h1 class="hero-about-chef-title">Hi, my name is Shemmy!</h1>
          </div>
          <div class="w-100"></div>
          <div class="hero-about-chef-p">
            <p>Shemmylicious food is my little corner of the Internet where I share my passion for delicious food with
              you!</p>
            <p>I like to create and share recipes that feature delicious, real food made for everyday! <br> My recipes are
              fresh, seasonal, mostly simple, often healthy, and sometimes peppered with a little cheese and butter
              mixed in.</p>
              <p>Feel free to create an account, comment and like mine and share your own resipes.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carosel -->
    <div id="carouselExampleInterval" class="carousel slide col-12 col-md-6 offset-md-1" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static '/images/welcome-hero-author.jpg' %}" class="d-block w-100" alt="carousel random image">
        </div>
        {% for slide in slider %}
        <!-- Slides -->
        <div class="carousel-item" data-bs-interval="10000">
          <a href="{% url 'recipe_detail' slide.slug %}">
            {% if "recipe" in slide.featured_image.url %}
            <img src="https://res.cloudinary.com/dteyj4llb/image/upload/v1679649965/media/Shemmylicious/recipe.png"
              class="d-block w-100" alt="slider random image">
            {% else %}
            <img src="{{ slide.featured_image.url }}" class="d-block w-100" alt="slider random image">
            {% endif %}
            <div class="carousel-image-flash">
              <p class="carousel-image-flash-author">Author: {{ slide.author }}</p>
              <p class="carousel-image-flash-category">{{ slide.category }}</p>
            </div>
            <div class="carousel-image-comment">
              <h4 class="carousel-image-comment-title">{{ slide.recipe_title }}</h4>
              <p class="carousel-image-comment-comment">{{ slide.featured_comment }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <!-- Carousel Bttns -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>









{% endblock %}