{% extends 'base.html' %}
{% block title %}Add Category{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <br>
    <div class="container col-6">
        {% if submitted %}
        <center>
            <br>
            <br>
            <h5>Category was Submitted Succesfully, {{ user }}!</h5>
            <br>
            <br>
            <a href="{% url 'recipes' %}" class="btn btn-outline-success">Back</a>
            <a href="{% url 'recipe-mylist' %}" class="btn btn-outline-success">My Recipes</a>
        </center>

        {% else %}
        <br>
        <br>
        <br>
        <h1>Add Category</h1>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}

            {{ form | crispy }}
            <br>
            <center>
                <div class="d-grid gap-2 col-12">
                    <input type="submit" value="Add Category" class="btn btn-outline-success">
                    <a href="{% url 'recipes' %}" class="btn btn-outline-success">Back</a>
                </div>
            </center>
        </form>
        <br>

        {% endif %}

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% else %}
<center>
    <h1>You're not logged in!</h1>
</center>
{% endif %}

{% endblock content %}