{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Top Slogan Section -->
<section class="top-slogan">
    <div class="container col-lg-8 offset-lg-2 text-center top-slogan">
        <h4 class="">Cooking Time Is My Favorite Time <i class="far fa-heart"></i></h4>
        <hr>
        <h5>Shemmylicious Food by Category</h5>
        <p>Here's where you can find ingridients, instructions and other details of your Shemmylicious recipe. <br>
            Be sure to sign up to be able to comment and like my posts as well as create your own recipes.</p>
        <hr>
    </div>
</section>
<!-- Recipe Head -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Recipe title goes in these h1 tags -->
                <h1 class="recipe-title"> {{ post.recipe_title }} </h1>
                <!-- Recipe author goes before the | the recipe's created date goes after -->
                <p class="recipe-subtitle"> {{ post.author }} | {{ post.created_date }} </p>
                <div class="row">
                    <!-- Duplicated like and comment section -->
                    <div class="col-2 offset-1 text-center">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-2 text-center">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "recipe" in post.featured_image.url %}
                <img src="https://asset.cloudinary.com/dteyj4llb/f6e04f3ac88f266da941b472675fd64c" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Recipe Featured Comment and Excerpt -->
<div class="card">
    <div class="row g-0">
        <div class="col-lg-8 offset-lg-2 text-center top-slogan">
            <div class="card-body">
                <hr>
                <h5 class="card-text ">{{ post.featured_comment | safe }}</h5>
                <hr>
                <p class="card-text ">{{ post.excerpt | safe }}</p>
            </div>
        </div>
    </div>
</div>
<!-- Ingridients -->
<div class="container-sm">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <!-- The recipe content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <!-- Ingridients -->
                <div class="card col-md-10 offset-md-1">
                    <div class="card-body">
                        <h5 class="card-title">Ingredients</h5>
                        <p class="card-text ">{{ post.recipe_ingridients | safe }}</p>
                    </div>
                </div>
                <!-- Instructions -->
                <div class="card col-md-10 offset-md-1">
                    <div class="card-body">
                        <h5 class="card-title">Instructions</h5>
                        <p class="card-text ">{{ post.recipe_instructions | safe }}</p>
                    </div>
                </div>
                <!-- Likes & Comments Section -->
                <div class="row">
                    <hr>
                    <!-- Likes icon and count -->
                    <div class="col-2 offset-4 text-center">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <!-- Comments icon and count -->
                    <div class="col-2 text-center">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
    <!-- Comments section -->
    <div class="row">
        <div class="col-md-7 offset-1 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.comment_title }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_date }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.Comment_body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3">
            <div class="card-body">
                <!-- Comments from forms.py -->
                <!-- If comment awaiting approval -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    {{ user.username }}, Your comment is awaiting approval.
                </div>
                {% else %}

                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token%}
                    <br>
                    <button type="submit" class="btn d-grid gap-2 col-6 mx-auto btn-lg btn-outline-success">Submit</button>
                    <div style="height: 100px;"></div>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}