{% extends 'base.html' %}
{% block title %}Edit: {{ recipe.recipe_title }}{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <br>
    <h4>Edit Recipe: {{ recipe.recipe_title }} </h4>
    <hr>
    <small>Created: {{ recipe.created_date }}</small><br>
    <small>In Category: {{ recipe.category }}</small><br>
    <small>By: {{ recipe.author }}</small><br>
    <small>Last Updated: {{ recipe.updated_date }}</small>
    <hr>

    <br>
    <form action="" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.media }}

        {{ form | crispy }}

        <br>
        <a href="{% url 'recipe-mylist' %}" class="btn btn-sm btn-outline-success">Back</a>
        <a href="{% url 'recipes' %}" class="btn btn-sm btn-outline-success">Home</a>
        <input type="submit" value="Update" class="btn btn-sm btn-outline-success">

    </form>

</div>

{% else %}
<center>
    <h1>You're not logged in!</h1>
</center>
{% endif %}

{% endblock content %}