{% extends "base.html" %}
{% load static %}

{% block content %}

  
  <div class="container-fluid g-2 p-3">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-3 left">
        <div class="row">
          <h2>{{ user.username }}'s Recipes List</h2>
          <br/><br/><br/>
          {% for recipe in recipes %}
          <div class="col-md-4">
            <div class="card mb-4">
  
              {% if "recipe" in recipe.featured_image.url %}
              <img src="https://res.cloudinary.com/dteyj4llb/image/upload/v1679649965/media/Shemmylicious/recipe.png"
                alt="deafult image" class="card-img-top shadow"">
              {% else %}
              <img src="{{ recipe.featured_image.url }}" alt="image" class="card-img-top shadow" style="background-size: cover; overflow: hidden;">
              {% endif %}
  
              <div class="card-body">
                <p>{{ recipe.created_date }}
                  <i class="far fa-heart"> {{ recipe.number_of_likes }}</i></small>
                </p>
                <hr>
                <h5><strong>{{ recipe.recipe_title }}</strong></h5>
                <p>Category: {{ recipe.category }}</p>
                <p>Author: {{ recipe.author }}</p>     
                {% if recipe.status == 0 %}
                  <hr>
                  <h5><strong>Not Published</strong></h5>
                  <p>Awaiting Admin's Authorisation</p>
                  <hr>
                {% else %}
                  <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-sm col-5 btn-outline-secondary"><span>View</span></a>   
                {% endif %} 
                <a href="{% url 'recipe-update' recipe.pk %}" class="btn btn-sm col-6 btn-outline-success"><span>Update</span></a><br><br>
                <a href="{% url 'add-recipe' %}" class="btn btn-sm col-5 btn-outline-warning"><span>New</span></a> 
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm col-6 btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                  Delete
                </button>
                <!-- Modal for Delete Recipe -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Delete Recipe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>You are about to delete this recipe.</p>
                        <p>Are you sure you want to continue?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm col-2 btn-outline-success" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-sm col-2 btn-outline-danger">
                          <a href="{% url 'recipe-delete' recipe.pk %}" class="">Delete</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
  
          {% if forloop.counter|divisibleby:30 %}
        </div>
        <div class="row">
          {% endif %}
  
          {% endfor %}
  
        </div>
      </div>
    </div>
  </div>


{% if is_paginated %}
<nav aria-label="Page naigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number}}" class="page-link">&laquo; PREV</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.nexts_page_number}}" class="page-link">NEXT &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
</div>
{% endblock %}
