{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}

{% block content %}

<!-- Top Slogan Section -->
<section class="top-slogan">
    <div class="container col-lg-8 offset-lg-2 col-10 text-center top-slogan">
        <h4 class="">Cooking Time Is My Favorite Time <i class="far fa-heart"></i></h4>
        <hr>
        <h5>Shemmylicious Food Search</h5>
        <p>Here's where you can find all the latest and Shemmylicious food recipes by keyword <br>
            Be sure to sign up to be able to comment and like my posts as well as create your own recipes.</p>
        <hr>
        <br>
    </div>
</section>
<!-- Search Results -->
<div class="card mb-3 col-lg-8 offset-lg-2 col-10 ">
    {% for recipe in recipes %}
    <br>
    <div class="row g-0">
        <div class="col-10 offset-1 col-md-2 offset-md-1 image-container ">
            {% if "recipe" in recipe.featured_image.url %}
            <img src="https://res.cloudinary.com/dteyj4llb/image/upload/v1679649965/media/Shemmylicious/recipe.png"
                alt="deafult image" class="img-thumbnail card-img-top shadow">
            {% else %}
            <img src="{{ recipe.featured_image.url }}" alt="image"
                class="img-thumbnail card-img-top shadow">
            {% endif %}
        </div>
        <div class="col-10 offset-1 col-md-8">
            <div class="card-body">
                <a href="{% url 'recipe_detail' recipe.slug %}" class="card-title card-blog-title">
                    <h3>{{ recipe }}</h3></a>
                <a href="{% url 'show-profile' recipe.author.profile.pk %}" class=""><small>Author: </small>
                    {{ recipe.author }} | </a>
                <a href="{% url 'category' recipe.category %}" class=""><small>Category:
                    </small>{{ recipe.category }}</a>
                <hr>
                <p class="card-text card-title card-blog-comment ">{{ recipe.featured_comment }}</p>
                <hr>
                <span class="card-text"><small class="text-body-secondary">Last updated {{ recipe.updated_date }} |
                    </small></span>
                <span class="card-text text-secondary"><small class="text-body-secondary"><i class="far fa-heart"></i>
                        Loved by {{ recipe.number_of_likes }} users</small></span>
            </div>
        </div>
    </div>
    {% empty %}
    <center>
      <br>
      <br>
      <h1>No searches results to display!</h1>
      <p>go on... Create your own Recipe</p>
    </center>
      <a href="{% url 'add-recipe' %}" class="btn col-10 offset-1 col-lg-6 offset-lg-3 btn-outline-success">Add Recipe</a>
    <hr>
    {% endfor %}

    <a href="{% url 'recipes' %}" class="btn col-10 offset-1 col-lg-6 offset-lg-3 btn-outline-success">Home</a>
</div>
{% endblock content %}