{% extends 'base.html' %} 
{% block title %}Edit: {{ recipe.recipe_title }}{% endblock %}
{% load static %}



{% block content %}

<div class="container">
    <br>
    Logged in {{ user }}
    <br>
    Autor: {{ recipe.author }}
    <br><br>
    <h4>Edit Recipe: {{ recipe.recipe_title }} </h4>
    <br>
    <p>In Category: {{ recipe.category }}</p> 
    <small>By: {{ recipe.author }}</small><br/>
    <small>Created: {{ recipe.created_date }}, </small> 
    <small>Last Updated: {{ recipe.updated_date }}, </small>
    <hr>
    
    <br>
    <form action="" method="POST">

        {% csrf_token %}
        {{ form.as_p }}
    
        <br>
        <a href="{% url 'recipe_mylist' %}" class="btn btn-sm btn-outline-success">Back</a>
        <a href="{% url 'home' %}" class="btn btn-sm btn-outline-success">Home</a>
    <input type="submit" value="Update" class="btn btn-sm btn-outline-success">

    </form>

</div>
{% endblock content %}