{% extends 'base.html' %}
{% block title %}Add Recipe{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<div class="container col-10 offset-1 col-md-8 offset-md-2">
    <br>
    {% if submitted %}
    <br>
    <br>
    <h5 class="text-center">Your Recipe was Submitted Succesfully, {{ user }}!</h5>
    <br>
    <br>
    <a href="{% url 'recipes' %}" class="btn btn-outline-success">Back</a>
    <a href="{% url 'recipe-mylist' %}" class="btn btn-outline-success">My Recipes</a>
    {% else %}
    <br>
    <br>
    <h3>Add Recipe</h3>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form | crispy }}

        <br>
        <div class="d-grid gap-2 col-12 text-center">
            <input type="submit" value="Add Recipe" class="btn btn-outline-success">
            <a href="{% url 'recipes' %}" class="btn btn-outline-success">Back</a>
        </div>
    </form>
    <br>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% else %}
<h1 class="text-center">You're not logged in!</h1>
{% endif %}

{% endblock content %}