{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Top Slogan Section -->
<section class="top-slogan">
  <div class="container col-lg-8 offset-lg-2 col-10 text-center top-slogan">
    <h4 class="">Cooking Time Is My Favorite Time <i class="far fa-heart"></i></h4>
    <hr>
    <h5>Shemmylicious Food</h5>
    <p>Here's where you can find all the latest and Shemmylicious food recipes. <br>
      Be sure to sign up to be able to comment and like my posts as well as create your own recipes.</p>
    <hr>
    <br>
  </div>
</section>
<!-- List of all Recipes -->
<div class="container col-lg-8 offset-lg-2 col-10 text-center">
  <div class="row justify-content-start">
    {% for recipe in object_list %}
    <div class="card" style="width: 18rem;">
      <div class="image-container card-img-top shadow">
        {% if "recipe" in recipe.featured_image.url %}
        <img src="https://res.cloudinary.com/dteyj4llb/image/upload/v1679649965/media/Shemmylicious/recipe.png"
          alt="deafult image" class="img-thumbnail card-img-recipe w-100" style="height: 280px;">
        {% else %}
        <img src="{{ recipe.featured_image.url }}" alt="image" class="img-thumbnail card-img-recipe w-100">
        {% endif %}
        <div class="image-flash">
          <a href="{% url 'show-profile' recipe.author.profile.id %}" 
          class="author image-flash-author"><small>Author: </small>{{ recipe.author }}</a><br>
        <a href="{% url 'category' recipe.category %}" 
          class="category image-flash-category"><small>Category: </small>{{ recipe.category }}</a>
        </div>
      </div>
      <div class="card-body card-body-recipe-list">
        <p class="card"><small class="text-muted">{{ recipe.created_date}} 
            <i class="far fa-heart"> {{ recipe.number_of_likes}}</i></small>
        </p>
        <hr>
        <a href="{% url 'recipe_detail' recipe.slug %}">
          <h1 class="card-title card-text card-list-title">"{{ recipe.recipe_title }}"</h1>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Pagination by 8 items -->
{% if is_paginated %}
<nav aria-label="Page naigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number}}" class="page-link">&laquo; PREV</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.nexts_page_number}}" class="page-link">NEXT &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
<br>
<br>
<br>
<br>
<br>
{% endif %}
</div>
{% endblock %}
