{% extends 'base.html' %} 
{% block title %}Edit: {{ recipe.recipe_title }}{% endblock %}
{% load static %}



{% block content %}

<div class="container">

    <h4>Edit Recipe: {{ recipe.recipe_title }} </h4>
    <small>By: {{ recipe.author }}</small><br/>
    <small>Created: {{ recipe.created_date }}, </small> 
    <small>Last Updated: {{ recipe.updated_date }}, </small>
    <hr>
    <p>Categoru: {{ recipe.category }}</p>
    <br>
    <form action="" method="POST">

        {% csrf_token %}
        {{ form.as_p }}


    </form>

    

    <a href="{% url 'home' %}" class="btn btn-sm btn-outline-success">Home</a>


</div>
{% endblock content %}