{% extends 'base.html' %}
{% block title %}Edit Profile Page{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
    <div class="container">
        <br>
        <br>
        <br>
        <h3>Edit {{ user }}'s Bio & Social Links</h3>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}

            {{ form | crispy }}
            <br>
            
            
            <center>
                <div class="d-grid gap-2 col-12">
                    <button class="btn btn-outline-success">Update Bio & Social Links</button>
                    <a href="{% url 'show-profile' user.pk %}" class="btn btn-outline-success">Back to Your Profile</a>
                </div>
            </center>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    {% else %}
    <center>
        <h1>Not authorised! Please refresh page!</h1>
    </center>
    {% endif %}
{% else %}
<center>
    <h1>You're not logged in!</h1>
</center>
{% endif %}

{% endblock content %}

